@tailwind base;
@tailwind components;
@tailwind utilities;

.py-5 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
span.bg-clip-text.text-transparent.bg-gradient-to-r.from-amber-600.to-orange-500 {
    color: #f5a623;
}
.text-amber-700 {
    --tw-text-opacity: 1;
    color: #cd8000;
}
.to-orange-500 {
    --tw-gradient-to: #f5a623 var(--tw-gradient-to-position);
}
.bg-amber-500 {
    --tw-bg-opacity: 1;
    background-color: #f5a623 !important;
}
@media (min-width: 768px) {
    .md\:py-5 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }
}
@media (max-width: 400px) {

    img.md\:w-\[110px\] {
        width: 100px;
    } 
    .relative.z-10.p-8.max-w-4xl.mx-auto {
        margin-top: 5em !important;
    } 
    main {
        margin-top: 0em !important;
    }

}
main {
    margin-top: 4em;
}
header.fixed.top-0.left-0.right-0.bg-white\/90.backdrop-blur-xl.shadow-2xl.z-50.px-8.transition-all.duration-300.py-4.md\:py-5.border-b-2.border-amber-200 {
    background: #fff9e1;
}
header.fixed.top-0.left-0.right-0.bg-white\/90.backdrop-blur-xl.shadow-2xl.z-50.px-8.transition-all.duration-300.py-2.md\:py-3.border-b.border-amber-100 {
    background: #fff9e1;
}